.form{
    background-color: gray; margin: 20px auto; padding: 20px; width: 60%;
}

.checkbox{
    background-color: cadetblue; width: 50%; margin: auto; padding: 20px; text-align: center;
}

#draw{
    
    text-align: center;
    display: block;
    margin: 10px auto;
    width: 20%;
    height: 30px;
    background-color:silver;
    border-radius: 5px;
}